{% load markdownify %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My Page Title</title>
        <meta name="description" content="My Page Description">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <main>
            <div>
                <h1> {{ project.name }} </h1>
                {{ project.description|markdownify }}
                <h2> Tasks </h2>
                <p>
                    <a href="{% url 'create_task' %}">Create a new task</a>
                </p>
                {% if project.tasks.all %}
                    {% for item in project.tasks.all %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Assignee</th>
                                    <th>Start date</th>
                                    <th>Due date</th>
                                    <th>Is completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.assignee}}
                                        <td>{{ item.start_date }}</td>
                                        <td>{{ item.due_date }}</td>
                                        <td>{{ item.is_completed|yesno }}</td>
                                    </tr>
                                </tbody>
                            </table>
                    {% endfor %}
                {% else %}
                    <p>This project has no tasks</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>












</body>
</html>